<html><body>{% extends "base.html" %}
{% block content %}
{% include "selectaxislocal.html" %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <article id="mainContent"><table border="1"><thead><tr><th>:Year</th><th>:Leading Cause</th><th>:Sex</th><th>:Race Ethnicity</th><th>:Deaths</th><th>:Death Rate</th><th>:Age Adjusted Death Rate</th></tr></thead><tbody><tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr></tbody></table></article>
        </div>
    </div>
</div><!-- End Container -->
{% endblock %}</body></html>